/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .elementor-widget{}
 .elementor-widget .info-box{
 	text-align: center;
 }
 .elementor-widget .info-box .info-box-icon{}
 .elementor-widget .info-box .info-box-title{}
 .elementor-widget .info-box .info-box-title h2{
 	margin-bottom: 5px;
 }
 .elementor-widget .info-box .info-box-title h3{
 	margin-top: 0px;
 	padding-top: 0px;
 }
 .elementor-widget .info-box .info-box-content{}